<template>
  <div show.bind="visible" class="component-cookie-banner" data-selector="cookie-banner">
    <a href="#" class="close-action" click.trigger="hideBanner()">
      <i class="material-icons close"></i>
    </a>
    <p>
      We use cookies to improve your website experience. To learn about our use of cookies and how you 
      can manage your cookie settings, please see our <a href="https://ovum.informa.com/cookie-policy-page" target="_blank">Cookie Policy</a>.
      By continuing to use the website, you consent to our use of cookies.
    </p>
  </div>
</template>