.component-cookie-banner {
  padding: 10px 40px;
  background-color: #e1e3e7;
  color: #444957;
  font-family: 'FSMe', 'Helvetica-Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857;
  position: relative;
  a {
    color: rgb(165,78,172);
  }
  .close-action {
    color: #565c6b;
    position: absolute;
    right: 10px;
    font-weight: 600;
  }
}