.new-pop {
  .saved-search-container {
    margin-top: 50px;
    .search-list {
      height: auto;
    }
  }
  .save-search {
    padding: 10px;
  }
  .tooltip {
    display: inline-block;
  }
  .component-dialog-save-search-action .icon {
    float: none;
    display: inline-block;
  }
} 