.disable-overlay {
  .disable {
    position: absolute;
    top: 5px;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: white;
    opacity: .60;
    z-index: 998;
  }

  .progress {
    margin: 0 !important;
  }
}
