@import "../../styles/colors";
@import "../../styles/variables";
@import "../data-methodology/data-methodology";

.scroll-container {
  background-color: $white;
  overflow: auto !important;
}

.help {
  @extend .data-methodology;
}

.help-title {
  @extend .data-methodology-title;
}

@media #{$small-and-down} {
  .help {
    padding: 20px;
  }
}
