@import "./../../../styles/colors";
@import "./../base-dialog";

.component-dialog-save-search {
  width: 500px;
  padding: 0 !important;
  z-index: 2000;

  &.select-search {
    height: 60vh;
  }

  ux-dialog-body,
  ux-dialog-footer,
  ux-dialog-header {
    padding: 0 !important;
  }

  .loading-panel {
    padding: 0;
    width: 100%;
    position: relative;
    margin-top: 22px;
  }

  .dialog-header-content {
    display: block;
    padding: 10px 15px 15px 25px;

    .save-btn {
      font-size: 14px;
      display: inline-block;
      width: 50%;

      a {
        color: $component--primary-tmt;
      }

      i {
        position: relative;
        top: 3px;
        font-size: 16px;
        margin-right: 5px;
      }
    }

    .share-btn {
      font-size: 14px;
      display: inline-block;
      text-align: right;
      width: 40%;

      a {
        color: $component--primary-tmt;
      }

      i {
        position: relative;
        top: 3px;
        font-size: 16px;
        margin-left: 5px;
      }
    }

    .close-btn {
      font-size: 14px;
      display: inline-block;
      text-align: right;
      width: 10%;

      a {
        color: $component--primary-tmt;
      }

      i {
        position: relative;
        top: 7px;
        font-size: 24px;
        margin-left: 5px;
      }
    }
  }

  .save-search-form {
    padding: 15px 25px;
    text-align: right;

    ux-dialog-footer {
      padding: 15px 0 0 !important;
    }
  }
}
